name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Render CLI
        run: |
          curl -Ls https://github.com/render-oss/render-cli/archive/refs/tags/v0.1.11.tar.gz -o render-cli-0.1.11.tar.gz
          tar -xzf render-cli-0.1.11.tar.gz -C /usr/local/bin
          rm render-cli-0.1.11.tar.gz

      - name: Deploy to Render
        run: render deploy --force-build
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
        
