name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Create Local Bin Directory
        run: |
          mkdir -p $HOME/bin
          echo "Directory created: $HOME/bin"
        shell: bash

      - name: Install Render CLI
        run: |
          curl -Ls https://github.com/render-oss/render-cli/archive/refs/tags/v0.1.11.tar.gz -o render-cli-0.1.11.tar.gz
          tar -xzf render-cli-0.1.11.tar.gz -C $HOME/bin
          echo "Render CLI extracted to $HOME/bin"
          ls -al $HOME/bin
          rm render-cli-0.1.11.tar.gz
        shell: bash

      - name: Deploy to Render
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
        run: |
          $HOME/bin/render deploy --force-build
        shell: bash
